<div class="header bg-gradient-blue py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-default">Bienvenido!</h1>
          <p class="text-lead text-default">
            Este sitio está protegido por reCAPTCHA y aplica las
            <a
              href="https://policies.google.com/privacy?xd_co_f=OTc5Yzc0NjktYjU3OS00YzhlLWFhMTgtNGViNTEyYjgzN2Nl"
              class="link-primary"
              >politicas de privacidad</a
            >
            y los terminos
            <a href="https://policies.google.com/terms" class="link-primary"
              >términos de servicio de Google</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h2>Recuperar contraseña</h2>
            <form class="p-2" autocomplete="off">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Nueva contraseña</label>
                  <input
                    type="password"
                    name="newPassword"
                    placeholder="Nueva contraseña"
                    class="form-control"
                    [(ngModel)]="resetPassword.newPassword"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Repetir contraseña</label>
                  <input
                    type="password"
                    name="configPassword"
                    placeholder="Repetir contraseña"
                    class="form-control"
                    [(ngModel)]="configPassword"
                  />
                </div>
              </div>
              <button
                class="btn btn-success btn-block"
                (click)="resetPasswordUser()"
              >
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
